// Overwrites
@import url( 'https://fonts.googleapis.com/css?family=Droid+Serif');

body {
    background-color: #dedede;
    font-family: 'Droid Serif', serif;
    position: relative;
}

header {
    padding-top: 100px;
}

article {
    margin-top: 60px;

    h1 {
      font-size: 1.8em;
      font-weight: bold;
    }

    .basket {
      margin-top: 70px;
      .delete {
        cursor: pointer;
      }
      table {
        th{
          font-size: 1.6em;
          padding-bottom:5px;
          padding-left: 5px;
          padding-right: 5px;
          border-bottom: 2px solid #787878;
          &:last-of-type {
              border-bottom: none;
          }
        }
      }
      tr {
        td {
          font-size: 1.3em;
          padding: 5px 10px;
        }
      }
    }


}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: #666666;
    padding-top:20px;
    color: #e6e6e6;
}
